<!DOCTYPE html>
<html lang="ar">
<head>

	<title>الصفحة الشخصية</title>

	<!-- Required meta tags always come first -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<!-- Main Font -->
    <script src="js/webfontloader.min.js"></script>
    <script>
        WebFont.load({
            google: {
                families: ['Roboto:300,400,500,700:latin']
            }
        });
    </script>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap-reboot.css">
	<link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap-grid.css">

	<!-- Main Styles CSS -->
	<link rel="stylesheet" type="text/css" href="css/main.min.css">
	<link rel="stylesheet" type="text/css" href="css/fonts.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>



<!-- Header-BP -->

<header class="header" id="site-header">
	<div class="logo-icon"><a href="/"><img src="svg-icons/Logo Icon@2x.svg" alt="Alghad Youth Association"/></a></div>
	<div class="page-title">
		<h6>الحساب الشخصي</h6>
	</div>

	<div class="header-content-wrapper">
		<form class="search-bar w-search notification-list friend-requests">
			<div class="form-group with-button">
				<input class="form-control js-user-search" placeholder="ماذا يجول فى خاطرك؟" type="text">
				<button>
					<svg class="olymp-magnifying-glass-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon"></use></svg>
				</button>
			</div>
		</form>

		<div class="control-block">
		<div class="network">
				<a href="07-Network.html">خريطة القيم</a>
			</div>
			<div class="submitTopic">
				<a href="06-CreatTopic.html" class="btn btn-primary btn-md-2">أضف موضوع<div class="ripple-container"></div></a>
			</div>
			<div class="author-page author vcard inline-items more">
				<div class="author-thumb">
					<img alt="author" src="img/author-page.jpg" class="avatar">
					<div class="more-dropdown more-with-triangle">
						<div class="mCustomScrollbar" data-mcs-theme="dark">
							<div class="ui-block-title ui-block-title-small">
								<h6 class="title">حسابك</h6>
							</div>

							<ul class="account-settings">
								<li>
									<a href="05-Account-Password.html">
<svg class="olymp-menu-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-menu-icon"></use></svg>
										<span>ضبط الحساب</span>
									</a>
								</li>
								<li>
									<a href="#">
										<svg class="olymp-logout-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-logout-icon"></use></svg>

										<span>خروج</span>
									</a>
								</li>
							</ul>

							<div class="ui-block-title ui-block-title-small">
								<h6 class="title">عن مركز الغد للقيم</h6>
							</div>

							<ul>
								<li>
									<a href="#">
										<span>عن المركز</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span>المدونة</span>
									</a>
								</li>
								<li>
									<a href="12-ContactsUs.html">
										<span>إتصل بنا</span>
									</a>
								</li>
							</ul>
						</div>

					</div>
				</div>
				<a href="03-ProfilePage.html" class="author-name fn">
					<div class="author-title">
						محمد سعيد <svg class="olymp-dropdown-arrow-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"></use></svg>
					</div>
				</a>
			</div>

		</div>
	</div>

</header>

<!-- ... end Header-BP -->

<div class="header-spacer"></div>

<!-- Top Header-Profile -->

<div class="container">
	<div class="row">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="ui-block">
			<div class="control-block-button" style="z-index:1;">
							<div class="btn btn-control bg-primary more">
								<svg class="olymp-settings-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-settings-icon"></use></svg>
								<ul class="more-dropdown more-with-triangle triangle-bottom-right">
									<li>
										<a href="#" data-toggle="modal" data-target="#update-header-photo">تغيير صورة الحساب</a>
									</li>
									<li>
										<a href="#" data-toggle="modal" data-target="#update-header-photo">تغيير صورة الغلاف</a>
									</li>
									<li>
										<a href="05-Account-Password.html">ضبط الحساب</a>
									</li>
								</ul>
							</div>
						</div>
				
				<div class="top-header top-header-favorit">
					<div class="top-header-thumb">
						<img src="img/top-header2.jpg" alt="nature">
						<div class="top-header-author">
							<div class="author-thumb">
								<img src="img/author-main2.jpg" alt="author">
							</div>
							<div class="author-content">
								<a href="03-ProfilePage.html" class="h3 author-name">محمد سعيد</a>
								<div class="country">Dammam, KSA</div>
							</div>
						</div>
					</div>
					</div>
			</div>
		</div>
	</div>
</div>

<!-- ... end Main Header Groups -->
<div class="header-spacer"></div>
<!-- ... end Top Header-Profile -->
	<div class="container">
		<div class="row">

			<!-- Main Content -->

			<!-- ... end Main Content -->


			<!-- Left Sidebar -->
			<div class="col-xl-9 order-xl-2 col-lg-6 order-lg-1 col-md-6 col-sm-12 col-xs-12">
			<div class="row">
				<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
					<div class="ui-block">

						
						<!-- Post -->
						
						<article class="hentry blog-post">
						
							<div class="post-thumb">
								<img src="img/post1.jpg" alt="photo">
							</div>
						
							<div class="post-content">
								<a href="#" class="post-category bg-blue-light">العدل</a>
								<a href="#" class="h4 post-title">الأخلاق من منظور التعايش و القيم الإنسانية ج1 </a>
								<p>ما فائدته ؟ هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طري.</p>
						
								<div class="author-date">
								بواسطة
									<a class="h6 post__author-name fn" href="#">Maddy Simmons</a>
									<div class="post__date">
										<time class="published" datetime="2017-03-24T18:18">
											- من 7 ساعة
										</time>
									</div>
								</div>
						
								<div class="post-additional-info inline-items">
						
									<ul class="friends-harmonic">
										<li>
											<a href="#">
												<img src="img/icon-chat27.png" alt="icon">
											</a>
										</li>
										<li>
											<a href="#">
												<img src="img/icon-chat2.png" alt="icon">
											</a>
										</li>
									</ul>
									<div class="names-people-likes">
										26
									</div>
						
									<div class="comments-shared">
										<a href="#" class="post-add-icon inline-items">
											<svg class="olymp-speech-balloon-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use></svg>
											<span>0</span>
										</a>
									</div>
						
								</div>
							</div>
						
						</article>
						
						<!-- ... end Post -->
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
					<div class="ui-block">

						
						<!-- Post -->
						
						<article class="hentry blog-post">
						
							<div class="post-thumb">
								<img src="img/post2.jpg" alt="photo">
							</div>
						
							<div class="post-content">
								<a href="#" class="post-category bg-primary">الصدق</a>
								<a href="#" class="h4 post-title">	المجتمع البشري في الأخلاق و السياسة</a>
								<p>ما فائدته ؟ هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طري.</p>
						
								<div class="author-date">
								بواسطة
									<a class="h6 post__author-name fn" href="#">JACK SCORPIO</a>
									<div class="post__date">
										<time class="published" datetime="2017-03-24T18:18">
											- من 12 ساعة
										</time>
									</div>
								</div>
						
								<div class="post-additional-info inline-items">
						
									<ul class="friends-harmonic">
										<li>
											<a href="#">
												<img src="img/icon-chat4.png" alt="icon">
											</a>
										</li>
										<li>
											<a href="#">
												<img src="img/icon-chat26.png" alt="icon">
											</a>
										</li>
										<li>
											<a href="#">
												<img src="img/icon-chat16.png" alt="icon">
											</a>
										</li>
									</ul>
									<div class="names-people-likes">
										82
									</div>
						
									<div class="comments-shared">
										<a href="#" class="post-add-icon inline-items">
											<svg class="olymp-speech-balloon-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use></svg>
											<span>14</span>
										</a>
									</div>
						
								</div>
							</div>
						
						</article>
						
						<!-- ... end Post -->
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
					<div class="ui-block">

						
						<!-- Post -->
						
						<article class="hentry blog-post">
						
							<div class="post-thumb">
								<img src="img/post3.jpg" alt="photo">
							</div>
						
							<div class="post-content">
								<a href="#" class="post-category bg-purple">الأمانة</a>
								<a href="#" class="h4 post-title">قواعد نبوية ..خمسون قاعدة نبوية في العلم و الأخلاق و السلوك</a>
								<p>ما فائدته ؟ هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طري.</p>
						
								<div class="author-date">
								بواسطة
									<a class="h6 post__author-name fn" href="#">Maddy Simmons</a>
									<div class="post__date">
										<time class="published" datetime="2017-03-24T18:18">
											- منذ يومين
										</time>
									</div>
								</div>
						
								<div class="post-additional-info inline-items">
						
									<ul class="friends-harmonic">
										<li>
											<a href="#">
												<img src="img/icon-chat28.png" alt="icon">
											</a>
										</li>
									</ul>
									<div class="names-people-likes">
										0
									</div>
						
									<div class="comments-shared">
										<a href="#" class="post-add-icon inline-items">
											<svg class="olymp-speech-balloon-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use></svg>
											<span>22</span>
										</a>
									</div>
						
								</div>
							</div>
						
						</article>
						
						<!-- ... end Post -->
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
					<div class="ui-block">

						
						<!-- Post -->
						
						<article class="hentry blog-post">
						
							<div class="post-thumb">
								<img src="img/post1.jpg" alt="photo">
							</div>
						
							<div class="post-content">
								<a href="#" class="post-category bg-blue-light">العدل</a>
								<a href="#" class="h4 post-title">الأخلاق من منظور التعايش و القيم الإنسانية ج1 </a>
								<p>ما فائدته ؟ هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طري.</p>
						
								<div class="author-date">
								بواسطة
									<a class="h6 post__author-name fn" href="#">Maddy Simmons</a>
									<div class="post__date">
										<time class="published" datetime="2017-03-24T18:18">
											- من 7 ساعة
										</time>
									</div>
								</div>
						
								<div class="post-additional-info inline-items">
						
									<ul class="friends-harmonic">
										<li>
											<a href="#">
												<img src="img/icon-chat27.png" alt="icon">
											</a>
										</li>
										<li>
											<a href="#">
												<img src="img/icon-chat2.png" alt="icon">
											</a>
										</li>
									</ul>
									<div class="names-people-likes">
										26
									</div>
						
									<div class="comments-shared">
										<a href="#" class="post-add-icon inline-items">
											<svg class="olymp-speech-balloon-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use></svg>
											<span>0</span>
										</a>
									</div>
						
								</div>
							</div>
						
						</article>
						
						<!-- ... end Post -->
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
					<div class="ui-block">

						
						<!-- Post -->
						
						<article class="hentry blog-post">
						
							<div class="post-thumb">
								<img src="img/post2.jpg" alt="photo">
							</div>
						
							<div class="post-content">
								<a href="#" class="post-category bg-primary">الصدق</a>
								<a href="#" class="h4 post-title">	المجتمع البشري في الأخلاق و السياسة</a>
								<p>ما فائدته ؟ هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طري.</p>
						
								<div class="author-date">
								بواسطة
									<a class="h6 post__author-name fn" href="#">JACK SCORPIO</a>
									<div class="post__date">
										<time class="published" datetime="2017-03-24T18:18">
											- من 12 ساعة
										</time>
									</div>
								</div>
						
								<div class="post-additional-info inline-items">
						
									<ul class="friends-harmonic">
										<li>
											<a href="#">
												<img src="img/icon-chat4.png" alt="icon">
											</a>
										</li>
										<li>
											<a href="#">
												<img src="img/icon-chat26.png" alt="icon">
											</a>
										</li>
										<li>
											<a href="#">
												<img src="img/icon-chat16.png" alt="icon">
											</a>
										</li>
									</ul>
									<div class="names-people-likes">
										82
									</div>
						
									<div class="comments-shared">
										<a href="#" class="post-add-icon inline-items">
											<svg class="olymp-speech-balloon-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use></svg>
											<span>14</span>
										</a>
									</div>
						
								</div>
							</div>
						
						</article>
						
						<!-- ... end Post -->
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
					<div class="ui-block">

						
						<!-- Post -->
						
						<article class="hentry blog-post">
						
							<div class="post-thumb">
								<img src="img/post3.jpg" alt="photo">
							</div>
						
							<div class="post-content">
								<a href="#" class="post-category bg-purple">الأمانة</a>
								<a href="#" class="h4 post-title">قواعد نبوية ..خمسون قاعدة نبوية في العلم و الأخلاق و السلوك</a>
								<p>ما فائدته ؟ هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طري.</p>
						
								<div class="author-date">
								بواسطة
									<a class="h6 post__author-name fn" href="#">Maddy Simmons</a>
									<div class="post__date">
										<time class="published" datetime="2017-03-24T18:18">
											- منذ يومين
										</time>
									</div>
								</div>
						
								<div class="post-additional-info inline-items">
						
									<ul class="friends-harmonic">
										<li>
											<a href="#">
												<img src="img/icon-chat28.png" alt="icon">
											</a>
										</li>
									</ul>
									<div class="names-people-likes">
										0
									</div>
						
									<div class="comments-shared">
										<a href="#" class="post-add-icon inline-items">
											<svg class="olymp-speech-balloon-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use></svg>
											<span>22</span>
										</a>
									</div>
						
								</div>
							</div>
						
						</article>
						
						<!-- ... end Post -->
					</div>
				</div>
				</div>

			
			<!-- Pagination -->
			
			<nav aria-label="Page navigation">
				<ul class="pagination justify-content-center">
					<li class="page-item disabled">
						<a class="page-link" href="#" tabindex="-1">السابق</a>
					</li>
					<li class="page-item"><a class="page-link" href="#">1<div class="ripple-container"><div class="ripple ripple-on ripple-out" style="left: -10.3833px; top: -16.8333px; background-color: rgb(255, 255, 255); transform: scale(16.7857);"></div></div></a></li>
					<li class="page-item"><a class="page-link" href="#">2</a></li>
					<li class="page-item"><a class="page-link" href="#">3</a></li>
					<li class="page-item"><a class="page-link" href="#">...</a></li>
					<li class="page-item"><a class="page-link" href="#">12</a></li>
					<li class="page-item">
						<a class="page-link" href="#">التالي</a>
					</li>
				</ul>
			</nav>
			
			<!-- ... end Pagination -->
		</div>
			<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12">
			<div class="ui-block">
				<div class="ui-block-title">
					<h6 class="title">المعلومات الشخصية</h6>
				</div>
				<div class="ui-block-content">

					<!-- W-Personal-Info -->
					
					<ul class="widget w-personal-info item-block">
						<li>
							<span class="title">نبذة عن</span>
							<span class="text">ما فائدته ؟ هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طري</span>
						</li>
						<li>
							<span class="title">الكتب المفضلة:</span>
							<span class="text">الأخلاق والحداثة , قواعد نبوية ..خمسون قاعدة نبوية في العلم و الأخلاق و السلوك  و 	الأخلاق الإسلامية للناشئة </span>
						</li>
					</ul>
					
					<!-- .. end W-Personal-Info -->
					<!-- W-Socials -->
					
					<div class="widget w-socials">
						<h6 class="title">شبكات التواصل الأخرى</h6>
						<a href="#" class="social-item bg-facebook">
							<i class="fa fa-facebook" aria-hidden="true"></i>
							Facebook
						</a>
						<a href="#" class="social-item bg-twitter">
							<i class="fa fa-twitter" aria-hidden="true"></i>
							Twitter
						</a>
						<a href="#" class="social-item bg-dribbble">
							<i class="fa fa-dribbble" aria-hidden="true"></i>
							Dribbble
						</a>
					</div>
					
					
					<!-- ... end W-Socials -->
				</div>
			</div>
</div>

		</div>
	</div>

		<!-- ... end Left Sidebar -->

	</div>
</div>


<!-- <section class="blog-post-wrap">
	
</section> -->


<!-- Window-popup Update Header Photo -->

<div class="modal fade" id="update-header-photo">
	<div class="modal-dialog ui-block window-popup update-header-photo">
		<a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
			<svg class="olymp-close-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
		</a>

		<div class="ui-block-title">
			<h6 class="title">جدد صورة الغلاف</h6>
		</div>

		<a href="#" class="upload-photo-item">
			<svg class="olymp-computer-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-computer-icon"></use></svg>

			<h6>قم برفع الصورة</h6>
			<span>إختر من الجهاز</span>
		</a>

		<a href="#" class="upload-photo-item" data-toggle="modal" data-target="#choose-from-my-photo">

			<svg class="olymp-photos-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-photos-icon"></use></svg>

			<h6>إختر من صورى</h6>
			<span>إختر من صورك المرفوعة سابفاً</span>
		</a>
	</div>
</div>


<!-- ... end Window-popup Update Header Photo -->



<div class="header-spacer"></div>
<!-- Footer Full Width -->

<div class="footer footer-full-width" id="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">

				
				<!-- Widget About -->
				
				<div class="widget w-about">
				
					<a href="03-ProfilePage.html" class="logo">
						<div class="img-wrap">
							<img src="img/logo-colored.png" alt="Olympus">
						</div>
					</a>
					
				</div>
				
				<!-- ... end Widget About -->

			</div>

			<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">

				
				<!-- Widget List -->
				
				<div class="widget w-list">
					<h6 class="title">الصفحات الرئيسية</h6>
					<ul>
						<li>
							<a href="index.html">الرئيسية</a>
						</li>
						<li>
							<a href="07-Network.html">خريطة القيم</a>
						</li>
					</ul>
				</div>
				
				<!-- ... end Widget List -->

			</div>
			<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">

				
				<div class="widget w-list">
					<h6 class="title">حسابك الشخصى</h6>
					<ul>
						<li>
							<a href="03-ProfilePage.html">الصفحة الشخصية</a>
						</li>
						<li>
							<a href="03-ProfilePage.html">مقالاتك</a>
						</li>
					</ul>
				</div>

			</div>
			<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">

				
				<div class="widget w-list">
					<h6 class="title">مركز الغد للقيم</h6>
					<ul>
						<li>
							<a href="#">عن المركز</a>
						</li>
						<li>
							<a href="#">المدونة</a>
						</li>
						<li>
							<a href="12-ContactsUs.html">إتصل بنا</a>
						</li>
					</ul>
				</div>

			</div>

			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

				
				<!-- SUB Footer -->
				
				<div class="sub-footer-copyright">
					<span>جميع الحقوق محفوظة لـمركز الغد للأخلاق © 2018
					</span>
				</div>
				
				<!-- ... end SUB Footer -->

			</div>
		</div>
	</div>
</div>

<!-- ... end Footer Full Width -->


<a class="back-to-top" href="#">
	<img src="svg-icons/back-to-top.svg" alt="arrow" class="back-icon">
</a>



<!-- JS Scripts -->
<script src="js/jquery-3.2.1.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/jquery.mousewheel.js"></script>
<script src="js/perfect-scrollbar.js"></script>
<script src="js/jquery.matchHeight.js"></script>
<script src="js/svgxuse.js"></script>
<script src="js/imagesloaded.pkgd.js"></script>
<script src="js/Headroom.js"></script>
<script src="js/velocity.js"></script>
<script src="js/ScrollMagic.js"></script>
<script src="js/jquery.waypoints.js"></script>
<script src="js/jquery.countTo.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/material.min.js"></script>
<script src="js/bootstrap-select.js"></script>
<script src="js/smooth-scroll.js"></script>
<!-- <script src="js/selectize.js"></script> -->
<script src="js/swiper.jquery.js"></script>
<script src="js/moment.js"></script>
<script src="js/daterangepicker.js"></script>
<script src="js/simplecalendar.js"></script>
<script src="js/fullcalendar.js"></script>
<script src="js/isotope.pkgd.js"></script>
<script src="js/ajax-pagination.js"></script>
<script src="js/Chart.js"></script>
<script src="js/chartjs-plugin-deferred.js"></script>
<script src="js/circle-progress.js"></script>
<script src="js/loader.js"></script>
<script src="js/run-chart.js"></script>
<script src="js/jquery.magnific-popup.js"></script>
<script src="js/jquery.gifplayer.js"></script>
<script src="js/mediaelement-and-player.js"></script>
<script src="js/mediaelement-playlist-plugin.min.js"></script>

<script src="js/base-init.js"></script>

<script src="Bootstrap/dist/js/bootstrap.bundle.js"></script>


</body>
</html>