<!DOCTYPE html>
<html lang="en">
<head>

	<title>Company Page Blog V2 Post</title>

	<!-- Required meta tags always come first -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap-reboot.css">
	<link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap-grid.css">

	<!-- Main Styles CSS -->
	<link rel="stylesheet" type="text/css" href="css/main.min.css">
	<link rel="stylesheet" type="text/css" href="css/fonts.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
	<!-- Main Font -->
	<script src="js/webfontloader.min.js"></script>
	<script>
		WebFont.load({
			google: {
				families: ['Roboto:300,400,500,700:latin']
			}
		});
	</script>

</head>
<body class="body-bg-white">


<div class="container mb60 mt50">
	<div class="row">
		<div class="col-xl-8 m-auto col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="ui-block">

				
				<!-- Single Post -->
				
				<article class="hentry blog-post single-post single-post-v2">
				
					<div class="control-block-button post-control-button">
						<a href="#" class="btn btn-control has-i bg-facebook">
							<i class="fa fa-facebook" aria-hidden="true"></i>
						</a>
				
						<a href="#" class="btn btn-control has-i bg-twitter">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</a>
					</div>
					<h1 class="post-title">	المجتمع البشري في الأخلاق و السياسة</h1>
					<a href="#" class="post-category bg-primary">العدل</a>
					<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
							<ul class="more-dropdown">
								<li>
									<a href="#">طلب تعديل المنشور</a>
								</li>
								<li>
									<a href="#">طلب حذف المنشور</a>
								</li>
							</ul>
						</div>
				<div class="post-thumb">
						<img src="img/post-header1.jpg" alt="author">
					</div>
					<div class="single-post-additional inline-items">
						
				<div class="author-date">
					<div class="author-thumb">
						<img alt="author" src="img/friend-harmonic7.jpg" class="avatar">
					</div>
					بواسطة
					<a class="h6 post__author-name fn" href="#">JACK SCORPIO</a>
					<div class="post__date">
						<time class="published" datetime="2017-03-24T18:18">
							-  من 12 ساعة
						</time>
					</div>
				</div>
					</div>
					<div class="post-content-wrap">
				
						<div class="post-content">
							<h5>ثم حيث يذكر كرسي الصين, ومن غينيا ليتسنّى والكساد بـ, عدد لكون لغات ما. بل تلك جنوب هناك الإقتصادية, غير وحرمان والنفيس كل. جهة إحكام بالمطالبة مع, دار الجوي دأبوا عن. لهذه تغييرات تم أخذ, أم لعملة والكوري إيو. ثم للحكومة الربيع، كلا.
						</h5>
			
				
							<p>فاتّبع العالم ومن أم. هذه دخول عقبت المشترك عن, عل مكن يتبقّ مكثّفة بالمطالبة, قد العالم وانتهاءً حول. والروسية وبريطانيا دون عل, ثم بحث الطريق الأثنان اليابان. أخذ لإعادة انتباه واستمرت أي, بل كما تنفّس الخاطفة الساحلية. ومن يذكر فمرّ ولكسمبورغ هو, أما أن ابتدعها ايطاليا،.

                        بعض إعمار للأراضي العمليات بل. جُل ان وفرنسا ارتكبها واشتدّت. رجوعهم السيطرة المؤلّفة لها إذ. أم مكن يقوم غضون المواد, أي القادة باستحداث كان. حكومة لأداء كثيرة ولم ٣٠, تم شيء بالعمل للحكومة الموسوعة.

                        يكن الشهير تكاليف بل. مسرح بقسوة عملية لمّ هو. ٣٠ المواد الحيلولة وصل, شيء ثم سياسة إختار بالرّد, وفي كل طوكيو والتي. المبرمة انتصارهم الإنذار، لم فقد, عل الحدود المجتمع بالتوقيع لمّ, مع يكن بشرية والعتاد الإتحاد. عدد تم وحتّى العصبة وبلجيكا،, كانت احداث مكن ان. اتفاقية التحالف بالمحور يتم ما. مع دنو قادة مواقعها, لان ببعض تعديل ويتّفق عل, دخول عقبت تطوير عرض ما.</p>
				
				<blockquote>
							<p>“أنا حقا أحب مرشحات الصورة الجديدة! أشعر وكأني مصور محترف!”</p>
						</blockquote>
							<h3>ولات, لان عن عجّل الإنزال.</h3>
				
						<p>
                            ارتكبها والكوري وبريطانيا ٣٠ دول. إعادة نتيجة بالعمل ثم قام, به، أن الشرقية التحالف. عن وتم القوى واتّجه الصينية, عن بها خيار اليابانية. انه ثم أملاً إتفاقية الوزراء, بـ هذا زهاء قررت, إعمار واُسدل العسكري ثم فعل. تلك ثم فقامت وباءت محاولات, لان عن عجّل الإنزال.

                            كلا بـ إختار ايطاليا،. إحتار التحالف بعد كل, دول ماشاء أعمال الشّعبين لم, إيو ان ٢٠٠٤ وايرلندا بالسيطرة. مما كل زهاء الصين الدّفاع, ووصف الإكتفاء لمّ هو. أي تحت بالرّغم والنفيس. دنو لم تنفّس الدول وشعار, من وتم هامش الجنوب, بلا تحرّك والروسية ما. مع قائمة بالرّد انه.
                        </p>
						</div>
					</div>
				
				</article>
				
				<!-- ... end Single Post -->

			<div class="post-additional-info inline-items">
<ul class="friends-harmonic">
					<li>
						<a href="#">
							<img src="img/friend-harmonic1.jpg" alt="friend">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="img/friend-harmonic9.jpg" alt="friend">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="img/friend-harmonic7.jpg" alt="friend">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="img/friend-harmonic4.jpg" alt="friend">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="img/friend-harmonic8.jpg" alt="friend">
						</a>
					</li>
				</ul>

				<div class="names-people-likes">
					<a href="#">دينا</a>و <a href="#">حماد</a> و
					<br>
					15 شخص أخر أعجبهم هذا
				</div>


				<div class="comments-shared">
					<a href="#" class="post-add-icon inline-items" title="عدد المشاهدين">
						<svg class="olymp-stats-icon" title="عدد المشاهدين"><use xlink:href="svg-icons/sprites/icons.svg#olymp-stats-icon"></use></svg>
						<span>120</span>
					</a>
				
					<a href="#" class="post-add-icon inline-items" title="عدد التعليقات">
						<svg class="olymp-speech-balloon-icon" title="عدد التعليقات"><use xlink:href="svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use></svg>
						<span>16</span>
					</a>
					<a href="#" class="post-add-icon inline-items" title="عدد المعجبيين">
					<svg class="olymp-heart-icon"  title="عدد المعجبيين"><use xlink:href="svg-icons/sprites/icons.svg#olymp-heart-icon"></use></svg>
					<span>8</span>
				</a>
				</div>


			</div>
			

			
				
		<div class="mCustomScrollbar" data-mcs-theme="dark">

			<ul class="comments-list">
				<li>
					<div class="post__author author vcard inline-items">
						<img src="img/author-page.jpg" alt="author">

						<div class="author-date">
							<a class="h6 post__author-name fn" href="02-ProfilePage.html">James Spiegel</a>
							<div class="post__date">
								<time class="published" datetime="2017-03-24T18:18">
									منذ 35 دقيقة
								</time>
							</div>
						</div>
					</div>

					<p>ارتكبها والكوري وبريطانيا ٣٠ دول. إعادة نتيجة بالعمل ثم قام</p>

					
				</li>
				<li>
					<div class="post__author author vcard inline-items">
						<img src="img/avatar1-sm.jpg" alt="author">

						<div class="author-date">
							<a class="h6 post__author-name fn" href="#">Mathilda Brinker</a>
							<div class="post__date">
								<time class="published" datetime="2017-03-24T18:18">
									منذ ساعة
								</time>
							</div>
						</div>
					</div>

					<p>كلا بـ إختار ايطاليا،. إحتار التحالف بعد كل, دول ماشاء أعمال الشّعبين لم, إيو ان ٢٠٠٤ وايرلندا</p>

					
				</li>
				<li>
					<div class="post__author author vcard inline-items">
						<img src="img/avatar10-sm.jpg" alt="author">

						<div class="author-date">
							<a class="h6 post__author-name fn" href="#">Elaine Dreyfuss</a>
							<div class="post__date">
								<time class="published" datetime="2017-03-24T18:18">
									منذ 5 دقائق
								</time>
							</div>
						</div>
					</div>

					<p>يكن الشهير تكاليف بل. مسرح بقسوة عملية لمّ هو. ٣٠ المواد الحيلولة وصل, شيء ثم سياسة إختار بالرّد, وفي</p>

				</li>
			</ul>

		</div>

		<form class="comment-form inline-items">

			<div class="post__author author vcard inline-items">
				<img src="img/author-page.jpg" alt="author">

				<div class="form-group with-icon-right ">
					<textarea class="form-control" placeholder="أضف تعليق"  ></textarea>
					
				</div>
			</div>

		</form>
	
				
				
			</div>

		</div>
	</div>

</div>


<a class="back-to-top" href="#">
	<img src="svg-icons/back-to-top.svg" alt="arrow" class="back-icon">
</a>



<!-- JS Scripts -->
<script src="js/jquery-3.2.1.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/jquery.mousewheel.js"></script>
<script src="js/perfect-scrollbar.js"></script>
<script src="js/jquery.matchHeight.js"></script>
<script src="js/svgxuse.js"></script>
<script src="js/imagesloaded.pkgd.js"></script>
<script src="js/Headroom.js"></script>
<script src="js/velocity.js"></script>
<script src="js/ScrollMagic.js"></script>
<script src="js/jquery.waypoints.js"></script>
<script src="js/jquery.countTo.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/material.min.js"></script>
<script src="js/bootstrap-select.js"></script>
<script src="js/smooth-scroll.js"></script>
<script src="js/selectize.js"></script>
<script src="js/swiper.jquery.js"></script>
<script src="js/moment.js"></script>
<script src="js/daterangepicker.js"></script>
<script src="js/simplecalendar.js"></script>
<script src="js/fullcalendar.js"></script>
<script src="js/isotope.pkgd.js"></script>
<script src="js/ajax-pagination.js"></script>
<script src="js/Chart.js"></script>
<script src="js/chartjs-plugin-deferred.js"></script>
<script src="js/circle-progress.js"></script>
<script src="js/loader.js"></script>
<script src="js/run-chart.js"></script>
<script src="js/jquery.magnific-popup.js"></script>
<script src="js/jquery.gifplayer.js"></script>
<script src="js/mediaelement-and-player.js"></script>
<script src="js/mediaelement-playlist-plugin.min.js"></script>

<script src="js/base-init.js"></script>

<script src="Bootstrap/dist/js/bootstrap.bundle.js"></script>

</body>
</html>