<!DOCTYPE html>
<html lang="ar">

<head>

    <title>مركز الغد للقيم</title>

    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap-reboot.css">
    <link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap-grid.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css" />

    <!-- Main Styles CSS -->
    <link rel="stylesheet" type="text/css" href="css/main.min.css">
    <link rel="stylesheet" type="text/css" href="css/fonts.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- Main Font -->
    <script src="js/webfontloader.min.js"></script>
    <script>
        WebFont.load({
            google: {
                families: ['Roboto:300,400,500,700:latin']
            }
        });
    </script>

</head>

<body class="body-bg-white">


    <div class="main-header main-header-fullwidth main-header-has-header-standard">


        <!-- Header Standard Landing  -->

        <div class="header--standard header--standard-landing" id="header--standard">
            <div class="container">
                <div class="header--standard-wrap">

                    <div class="logo-icon"><a href="/"><img class="logoColored" src="img/logo-landing-w.png" alt="Alghad Values Center"/></a><a href="/"><img class="logoWhite" src="img/logo-landing.png" alt="Alghad Values Center"/></a></div>

                    <a href="#" class="open-responsive-menu js-open-responsive-menu">
					<svg class="olymp-menu-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-menu-icon"></use></svg>
				</a>

                    <div class="nav nav-pills nav1 header-menu">
                        <div class="mCustomScrollbar">
                            <ul>
                                <li class="nav-item">
                                    <a href="01-LandingPage.html" class="nav-link">الرئيسية</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="07-Network.html">خريطة القيم</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">عن المركز</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">المدونة</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">إتصل بنا</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ... end Header Standard Landing  -->
        <div class="header-spacer"></div>

    </div>
<div class="body-bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 m-auto">

                <!-- Login-Registration Form  -->

                <div class="registration-login-form">
                    <!-- Nav tabs -->

                    <!-- Tab panes -->
                    <div>
                        <div id="home">
                            <div class="title h6 text-center">التسجيل على المنصة</div>
                            <form class="content">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label">الأسم الأول</label>
                                            <input class="form-control" placeholder="" type="text">
                                            <span class="material-input"></span></div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label">أسم العائلة</label>
                                            <input class="form-control" placeholder="" type="text">
                                            <span class="material-input"></span></div>
                                    </div>
                                    <div class="col-xl-12 col-lg-12 col-md-12">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label">البريد الإلكتروني</label>
                                            <input class="form-control" placeholder="" type="email">
                                            <span class="material-input"></span></div>
                                        
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label">كلمة المرور</label>
                                            <input class="form-control" placeholder="" type="password">
                                            <span class="material-input"></span></div>
                                        
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label">أعد كلمة المرور</label>
                                            <input class="form-control" placeholder="" type="password">
                                            <span class="material-input"></span></div>

                                        <div class="form-group date-time-picker label-floating">
                                            <label class="control-label">تاريخ الميلاد</label>
                                            <input name="datetimepicker" value="10/24/1984">
                                            <span class="input-group-addon">
														<svg class="olymp-calendar-icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#olymp-calendar-icon"></use></svg>
													</span>
                                        </div>

                                        <div class="form-group label-floating is-select">
                                            <label class="control-label">النوع</label>

                                            <div class="btn-group bootstrap-select form-control">
                                                <div class="dropdown-menu open" role="combobox">
                                                    <ul class="dropdown-menu inner" role="listbox" aria-expanded="false">
                                                        <li data-original-index="0" class="selected"><a tabindex="0" class=" dropdown-item" style="" data-tokens="null" role="option" aria-disabled="false" aria-selected="true"><span class="text">ذكر</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                        <li data-original-index="1"><a tabindex="0" class=" dropdown-item" style="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">أنثى</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                    </ul>
                                                </div><select class="selectpicker form-control" tabindex="-98">
											<option value="MA">ذكر</option>
											<option value="FE">أنثى</option>
										</select></div>
                                            <span class="material-input"></span></div>

                                        <div class="row full-width>">
                                            <div class="col-lg-4 col-md-4 col-sm-6">
                                                <div class="form-group label-floating is-empty">
                                                    <label class="control-label">الدرجة العلمية</label>
                                                    <input class="form-control" placeholder="" type="text">
                                                    <span class="material-input"></span></div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-6">
                                                <div class="form-group label-floating is-empty">
                                                    <label class="control-label">الجهة التعليمية</label>
                                                    <input class="form-control" placeholder="" type="text">
                                                    <span class="material-input"></span></div>
                                            </div>
                                        
                                            <div class="col-lg-4 col-md-4 col-sm-12">
                                                <div class="form-group label-floating is-empty">
                                                    <label class="control-label">المنصب الوظيفي</label>
                                                    <input class="form-control" placeholder="" type="text">
                                                    <span class="material-input"></span></div>
                                            </div>
                                        </div>
                                        

                                        <div class="remember">
                                            <div class="checkbox">
                                                <label>
												<input name="optionsCheckboxes" type="checkbox">
												أقبل <a href="#">شروط وأحكام</a> الموقع الإلكتروني
											</label>
                                            </div>
                                        </div>

                                        <a href="#" class="btn btn-purple btn-lg full-width">اكمل التسجيل</a>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
<div class="content">
					<h6>من خلال مواقع التواصل الإجتماعي</h6>
                        <div class="row margin-top">
                            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 m-auto">
                                <a class="btn btn-social btn-facebook">
                        <span class="fa fa-facebook"></span> التسجيل من خلال الفيسبوك
                        </a>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 m-auto">
                                <a class="btn btn-social btn-google">
                        <span class="fa fa-google"></span> التسجيل من خلال جوجل +
                        </a>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 m-auto">
                                <a class="btn btn-social btn-twitter">
                        <span class="fa fa-twitter"></span> التسجيل من خلال تويتر
                        </a>
                            </div>
                        </div>
                    </div>


                </div>

                <!-- ... end Login-Registration Form  -->
            </div>
        </div>
    </div>
</div>


    <!-- Footer Full Width -->

    <div class="footer footer-full-width" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12">


                    <!-- Widget About -->

                    <div class="widget w-about">

                        <a href="03-ProfilePage.html" class="logo">
                            <div class="img-wrap">
                                <img src="img/logo-colored.png" alt="Olympus">
                            </div>
                        </a>

                    </div>

                    <!-- ... end Widget About -->

                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">


                    <!-- Widget List -->

                    <div class="widget w-list">
                        <h6 class="title">الصفحات الرئيسية</h6>
                        <ul>
                            <li>
                                <a href="index.html">الرئيسية</a>
                            </li>
                            <li>
                                <a href="07-Network.html">خريطة القيم</a>
                            </li>
                        </ul>
                    </div>

                    <!-- ... end Widget List -->

                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">


                    <div class="widget w-list">
                        <h6 class="title">مركز الغد للقيم</h6>
                        <ul>
                            <li>
                                <a href="#">عن المركز</a>
                            </li>
                            <li>
                                <a href="#">المدونة</a>
                            </li>
                            <li>
                                <a href="12-ContactsUs.html">إتصل بنا</a>
                            </li>
                        </ul>
                    </div>

                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


                    <!-- SUB Footer -->

                    <div class="sub-footer-copyright">
                        <span>جميع الحقوق محفوظة لـمركز الغد للأخلاق © 2018
					</span>
                    </div>

                    <!-- ... end SUB Footer -->

                </div>
            </div>
        </div>
    </div>

    <!-- ... end Footer Full Width -->




    <a class="back-to-top" href="#">
	<img src="svg-icons/back-to-top.svg" alt="arrow" class="back-icon">
</a>



    <!-- JS Scripts -->
    <script src="js/jquery-3.2.1.js"></script>
    <script src="js/jquery.appear.js"></script>
    <script src="js/jquery.mousewheel.js"></script>
    <script src="js/perfect-scrollbar.js"></script>
    <script src="js/jquery.matchHeight.js"></script>
    <script src="js/svgxuse.js"></script>
    <script src="js/imagesloaded.pkgd.js"></script>
    <script src="js/Headroom.js"></script>
    <script src="js/velocity.js"></script>
    <script src="js/ScrollMagic.js"></script>
    <script src="js/jquery.waypoints.js"></script>
    <script src="js/jquery.countTo.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/material.min.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/smooth-scroll.js"></script>
    <!-- <script src="js/selectize.js"></script> -->
    <script src="js/swiper.jquery.js"></script>
    <script src="js/moment.js"></script>
    <script src="js/daterangepicker.js"></script>
    <script src="js/simplecalendar.js"></script>
    <script src="js/fullcalendar.js"></script>
    <script src="js/isotope.pkgd.js"></script>
    <script src="js/ajax-pagination.js"></script>
    <script src="js/Chart.js"></script>
    <script src="js/chartjs-plugin-deferred.js"></script>
    <script src="js/circle-progress.js"></script>
    <script src="js/loader.js"></script>
    <script src="js/run-chart.js"></script>
    <script src="js/jquery.magnific-popup.js"></script>
    <script src="js/jquery.gifplayer.js"></script>
    <script src="js/mediaelement-and-player.js"></script>
    <script src="js/mediaelement-playlist-plugin.min.js"></script>

    <script src="js/base-init.js"></script>

    <script src="Bootstrap/dist/js/bootstrap.bundle.js"></script>

</body>

</html>