
<!-- Post -->

<article class="hentry blog-post">

	<div class="post-thumb">
		<img src="img/post3.jpg" alt="photo">
	</div>

	<div class="post-content">
		<a href="#" class="post-category bg-purple">INSPIRATION</a>
		<a href="#" class="h4 post-title">قواعد نبوية ..خمسون قاعدة نبوية في العلم و الأخلاق و السلوك</a>
		<p>ما فائدته ؟ هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طري.</p>

		<div class="author-date">
			by
			<a class="h6 post__author-name fn" href="#">Maddy Simmons</a>
			<div class="post__date">
				<time class="published" datetime="2017-03-24T18:18">
					- منذ يومين
				</time>
			</div>
		</div>

		<div class="post-additional-info inline-items">

			<ul class="friends-harmonic">
				<li>
					<a href="#">
						<img src="img/icon-chat28.png" alt="icon">
					</a>
				</li>
			</ul>
			<div class="names-people-likes">
				0
			</div>

			<div class="comments-shared">
				<a href="#" class="post-add-icon inline-items">
					<svg class="olymp-speech-balloon-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use></svg>
					<span>22</span>
				</a>
			</div>

		</div>
	</div>

</article>

<!-- ... end Post -->